################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GraduationProjectBackEnd/.vs/ArtPulseAPI
/GraduationProjectBackEnd/ArtPulseAPI/obj